body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.btn {
    background-color: #202020;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 1em 2em;
    margin: 0 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #303030;
}
